<div class="flex gap-x-1">
  <aside class="w-[180px]">
    <nav>
      <ul>
        <.link navigate={~p"/training"}>
          Training
        </.link>
      </ul>
      <ul>
        <.link navigate={~p"/techniques"}>
          Techniques
        </.link>
      </ul>
    </nav>
  </aside>

  <main class="flex-1">
    <div>
      <.flash_group flash={@flash} />
      <%= @inner_content %>
    </div>
  </main>
</div>
