<.flash_group flash={@flash} />

<div class="grid grid-cols-12 gap-x-6">
  <aside class="py-4">
    <nav class="m-auto flex justify-center">
      <ul class="flex flex-col gap-y-4">
        <li>
          <.nav_link href={~p"/training"} icon="hero-squares-2x2" path={@current_path} />
        </li>

        <li>
          <.nav_link href={~p"/techniques"} icon="hero-pencil" path={@current_path} />
        </li>
      </ul>
    </nav>
  </aside>

  {@inner_content}
</div>
