<div class="flex gap-x-1">
  <aside class="w-[180px]">
    <nav>
      <ul>
        <li>
          <.link href={~p"/training"}>
            <button class="">
              <.icon name="hero-squares-2x2" class="text-zinc-300" />
            </button>
          </.link>
        </li>
      </ul>
    </nav>
  </aside>

  <main class="flex-1">
    <div>
      <.flash_group flash={@flash} />
      <%= @inner_content %>
    </div>
  </main>
</div>
