<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Flow BJJ">
      <%= assigns[:page_title] || "Flow" %>
    </.live_title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet" />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>

  <body class="bg-neutral-200 dark:bg-neutral-950 text-neutral-900 dark:text-neutral-200 font-body tracking-wide">
    <header class="py-2 px-4 flex flex-row justify-between h-[80px] border-b border-b-neutral-800 border-b-solid">
      <div>
        <a href="/">
          <img src="/images/logo.png" alt="Flow BBJ logo" class="h-full w-auto" />
        </a>
      </div>

      <div class="flex flex-row items-center gap-x-4">
        <%= if @current_user do %>
          <div class="relative">
            <div
              class="rounded-full overflow-hidden cursor-pointer h-[64px]"
              phx-click={
                JS.toggle(
                  to: "#profile-menu",
                  in: {"ease-out duration-100", "opacity-0 scale-90", "opacity-100 scale-100"},
                  out: {"ease-out duration-100", "opacity-100 scale-100", "opacity-0 scale-90"}
                )
              }
            >
              <div class="bg-indigo-900 h-full p-1.5 relative">
                <div class="absolute right-2 h-full w-1.5 bg-gradient-to-b from-zinc-200 to-zinc-300 to-transparent z-0" />

                <img
                  src={FlowWeb.Util.Avatar.url(@current_user.email)}
                  class="object-contain h-full rounded-full relative"
                />
              </div>
            </div>

            <div
              id="profile-menu"
              class="menu hidden absolute top-[calc(100%_+_4px)] right-0"
              phx-click-away={
                JS.hide(
                  transition:
                    {"ease-out duration-100", "opacity-100 scale-100", "opacity-0 scale-90"}
                )
              }
            >
              <span><%= @current_user.email %></span>
              <hr class="my-2" />

              <ul class="flex flex-col gap-y-2">
                <li>
                  <div class="flex row justify-between px-2 py-1.5">
                    Dark mode
                    <label class="switch" id="mode-toggle" phx-hook="ModeToggle">
                      <input type="checkbox" />
                      <span class="slider" />
                    </label>
                  </div>
                </li>
                <li>
                  <.link href={~p"/users/settings"} class="option">
                    Settings
                  </.link>
                </li>

                <li>
                  <.link href={~p"/users/log_out"} method="delete" class="option">
                    Log out
                  </.link>
                </li>
              </ul>
            </div>
          </div>
        <% else %>
          <.link href={~p"/users/log_in"}>
            <.button size="md" color="primary" variant="outline">Log in</.button>
          </.link>

          <.link href={~p"/users/register"}>
            <.button size="md" color="primary" variant="solid">Sign up</.button>
          </.link>
        <% end %>
      </div>
    </header>

    <%= @inner_content %>
  </body>
</html>
